<!-- declaring var in Nunjucks: use `set` keyword -->
{% set navs = [
    { title: 'Home', url: '/', state: 'home' },
    { title: 'Contact us', url: '/contact-us.html', state: 'contact-us' },
    { title: 'in-page JS', url: '/in-page-js.html', state: 'in-page-js' }
] %}
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Start Bootstrap</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <!-- for loop in Nunjucks -->
        {% for nav in navs %}
            {% if page == nav.state %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
              <a href="{{ nav.url }}">
                  <span>{{ nav.title }}</span>
              </a>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- /.navbar-collapse -->