{% extends "layout.html" %}

{% set title = 'Contact us' %}
{% set page = 'contact-us' %}

{% block content %}
<div class="col-md-8">
  <legend>
    <span class="glyphicon glyphicon-globe"></span> Our office
  </legend>
  <address>
      <strong>Twitter, Inc.</strong><br>
      795 Folsom Ave, Suite 600<br>
      San Francisco, CA 94107<br>
      <abbr title="Phone">P:</abbr>
      (123) 456-7890
  </address>
  <address>
      <strong>Full Name</strong><br>
      <a href="mailto:#">first.last@example.com</a>
  </address>
</div>
{% endblock content %}